The continents.csv file contains data on the area and number of inhabitants of some continents. Create a notebook in which create a DataFrame with the data contained in the CSV file. Display the contents of the DataFrame. Then, add a column in which calculate the population density, i.e. the number of inhabitants per 1 km2. View the modified DataFrame.

In [1]:
import pandas as pd

continents = pd.read_csv("continents.csv")
continents

       Continent      Area  Population
0         Europe  10000000   745173774
1           Asia  44614000  4694576167
2  North America  24230000   595783465
3        Oceania   8510926    44491724
4         Africa  30365000  1393676444

In [2]:
continents["Density"] = continents["Population"] / continents["Area"]
continents

       Continent      Area  Population     Density
0         Europe  10000000   745173774   74.517377
1           Asia  44614000  4694576167  105.226525
2  North America  24230000   595783465   24.588670
3        Oceania   8510926    44491724    5.227601
4         Africa  30365000  1393676444   45.897462