Calculate and display the total number of students studying in Warsaw and Krakow. The data is available in the universitites.csv file.

In [1]:
import pandas as pd

universities = pd.read_csv('universities.csv')

In [10]:
universities.loc[:,['City', 'Students']].groupby('City').sum()

universities.query("City == 'Warsaw' or City =='Krakow'") \
.loc[:,['City', 'Students']].groupby('City').sum()

        Students
City
Krakow    136300
Warsaw    184500