The continents.csv file contains information about the area and population. Based on this data, create a DataFrame. Display a list of continents along with descriptive statistics.

In [2]:
import pandas as pd

continents = pd.read_csv("continents.csv")
continents

       Continent      Area  Population
0         Europe  10000000   745173774
1           Asia  44614000  4694576167
2  North America  24230000   595783465
3        Oceania   8510926    44491724
4         Africa  30365000  1393676444

In [7]:
continents.describe()

               Area    Population
count  5.000000e+00  5.000000e+00
mean   2.354399e+07  1.494740e+09
std    1.500312e+07  1.852185e+09
min    8.510926e+06  4.449172e+07
25%    1.000000e+07  5.957835e+08
50%    2.423000e+07  7.451738e+08
75%    3.036500e+07  1.393676e+09
max    4.461400e+07  4.694576e+09