# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [18]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [19]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [20]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [21]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [22]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [23]:
employees.extend(["John", "Peggy"])

In [24]:
ns = pd.Series(employees)
ns

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7       John
8      Peggy
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [25]:
components = pd.Series(["CPU", "GPU", "RAM", "HDD", "Motherboard"])
components

0            CPU
1            GPU
2            RAM
3            HDD
4    Motherboard
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [26]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [27]:
tools_in_stock["spoon"] = 3
tools_in_stock["fork"] = 14

In [28]:
tools = pd.Series(tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
spoon           3
fork           14
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [29]:
tools.sum()

75

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

### Tasks

Calculate the average number of tools in stock.

In [30]:
tools.mean()

10.714285714285714

Generate descriptive statistics for the tools in stock.

In [31]:
tools.describe()

count     7.000000
mean     10.714286
std       7.087884
min       3.000000
25%       5.500000
50%       9.000000
75%      14.500000
max      23.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [32]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [33]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [34]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [36]:
restaurant = pd.Series({
    "Monday": 423,
    "Tuesday": 234,
    "Wednesday": 543,
    "Thursday": 344,
    "Friday": 656,
    "Saturday": 567,
    "Sunday": 768
})

With the created data series, follow the instructions below.

Display the contents of the Series.

In [37]:
restaurant

Monday       423
Tuesday      234
Wednesday    543
Thursday     344
Friday       656
Saturday     567
Sunday       768
dtype: int64

Display the total number of restaurant customers.

In [38]:
restaurant.sum()

3535

Display the median number of restaurant customers.

In [39]:
restaurant.median()

543.0

Display descriptive statistics.

In [40]:
restaurant.describe()

count      7.000000
mean     505.000000
std      184.094179
min      234.000000
25%      383.500000
50%      543.000000
75%      611.500000
max      768.000000
dtype: float64

Display the list of restaurant customers on business days.

In [41]:
restaurant[1:5]

Tuesday      234
Wednesday    543
Thursday     344
Friday       656
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [42]:
restaurant[1:5].mean()

444.25

Display the list of restaurant customers on the weekend.

In [69]:
restaurant[5:7]

Saturday    567
Sunday      768
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [70]:
restaurant[5:7].sum()

1335