In [1]:
import pandas as pd

product_sales = pd.read_csv("product_sales.csv")

Display the data content

In [2]:
product_sales

            SaleRep Region  Orders  TotalSales
0      Felice Lunck   West     218       44489
1    Doralynn Pesak   West     233       61035
2  Madelle Martland   East     264       62603
3      Yasmin Myhan  South     110       59377
4   Marmaduke Webbe   East     188       78771
5   Christiano Vero   East     265       68506
6   Cecelia Jealous   West      93       53634
7    Isaak Housiaux   East     189       62455
8    Derril Howland   East     385       73460
9       Judon Allom   West     230       51067

Export data to an html document

In [3]:
product_sales.to_html(("product_sales.html"))

Display the html document in a web browser

Export the first and the last column to a csv file

In [12]:
product_sales.iloc[:,[2,3]].to_csv("product_sales_last_two.csv")

Display the csv document in a text editor

Export data related to the west region to an html file

In [14]:
product_sales.loc[product_sales["Region"] == "West"].to_html("product_sales_west.html")

Display the content of the html file in a web browser